.business-card {
  align-items     : center;
  background      : #FFFFFF;
  border          : 1px solid #F2F2F2;
  border-radius   : 40px;
  box-shadow      : 0 10px 50px rgba(0, 0, 0, 0.05);
  box-sizing      : border-box;
  display         : flex;
  flex-direction  : column;
  height          : 379px;
  justify-content : center;
  padding         : 39px 31px 57px;
  text-align      : center;
  width           : 308px;
}