.client {
  display         : flex;
  height          : 124px;
  justify-content : space-between;
  margin          : 94px 0;

  &__logo {
    align-items     : center;
    display         : flex;
    justify-content : center;
  }

  .event {
    transition : all 0.3s;

    &:hover {
      transform : scale(1.06);
    }
  }
}