.feedback {
  align-items     : center;
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  margin-top      : 117px;

  &__client {
    display    : flex;
    margin-top : 70px;

    .client {
      height   : 389px;
      left     : 0;
      margin   : 0;
      position : relative;
      top      : 0;
      width    : 389px;

      &:before {
        background-image  : url("img/section_5/Dot.svg");
        background-repeat : no-repeat;
        content           : '';
        height            : 154px;
        position          : absolute;
        right             : 7px;
        top               : -19px;
        width             : 196px;
        z-index           : -1;
      }

      &:after {
        background-image  : url("img/section_5/red.svg");
        background-repeat : no-repeat;
        bottom            : 39px;
        content           : '';
        height            : 120px;
        left              : 0;
        position          : absolute;
        width             : 120px;
        z-index           : -1;
      }
    }

    .all-client {
      height   : 355px;
      position : relative;
      right    : 0;
      top      : 0;
      width    : 348px;

      &:before {
        background-image  : url("img/section_5/El.svg");
        background-repeat : no-repeat;
        content           : '';
        height            : 184px;
        left              : 27px;
        position          : absolute;
        top               : 95px;
        width             : 184px;
        z-index           : -1;
      }
    }

    .client-feedback {
      margin      : 0 30px;
      padding-top : 100px;
    }
  }
}
