/* Averta-Regular */
@font-face {
  font-family : Aventa;
  src         : url("fonts/AvertaDemoPECuttedDemo-Regular.otf");
  font-weight : 400;
  font-style  : normal;
}

/* Averta-ExtraBold */
@font-face {
  font-family : Aventa;
  src         : url("fonts/AvertaDemoPE-ExtraBold.otf");
  font-weight : 800;
  font-style  : normal;
}

