/* FiraSans-Thin */
@font-face {
  font-family : FiraSans;
  src         : url("fonts/FiraSans/FiraSans-Thin.ttf");
  font-weight : 100;
  font-style  : normal;
}

/* FiraSans-ThinItalic */
@font-face {
  font-family : FiraSans;
  src         : url("fonts/FiraSans/FiraSans-ThinItalic.ttf");
  font-weight : 100;
  font-style  : italic;
}

/* FiraSans-ExtraLight */
@font-face {
  font-family : FiraSans;
  src         : url("fonts/FiraSans/FiraSans-ExtraLight.ttf");
  font-weight : 200;
  font-style  : normal;
}

/* FiraSans-ExtraLightItalic */
@font-face {
  font-family : FiraSans;
  src         : url("fonts/FiraSans/FiraSans-ExtraLightItalic.ttf");
  font-weight : 200;
  font-style  : italic;
}

/* FiraSans-Light*/
@font-face {
  font-family : FiraSans;
  src         : url("fonts/FiraSans/FiraSans-Light.ttf");
  font-weight : 300;
  font-style  : normal;
}

/* FiraSan-LightItalic */
@font-face {
  font-family : FiraSans;
  src         : url("fonts/FiraSans/FiraSans-LightItalic.ttf");
  font-weight : 300;
  font-style  : italic;
}

/* FiraSans-Regular */
@font-face {
  font-family : FiraSans;
  src         : url("fonts/FiraSans/FiraSans-Regular.ttf");
  font-weight : 400;
  font-style  : normal;
}

/* FiraSans-RegularItalic */
@font-face {
  font-family : FiraSans;
  src         : url("fonts/FiraSans/FiraSans-RegularItalic.ttf");
  font-weight : 400;
  font-style  : italic;
}

/* FiraSans-Medium */
@font-face {
  font-family : FiraSans;
  src         : url("fonts/FiraSans/FiraSans-Medium.ttf");
  font-weight : 500;
  font-style  : normal;
}

/* FiraSans-MediumItalic */
@font-face {
  font-family : FiraSans;
  src         : url("fonts/FiraSans/FiraSans-MediumItalic.ttf");
  font-weight : 500;
  font-style  : italic;
}

/* FiraSans-SemiBold*/
@font-face {
  font-family : FiraSans;
  src         : url("fonts/FiraSans/FiraSans-SemiBold.ttf");
  font-weight : 600;
  font-style  : normal;
}

/* FiraSans-SemiBoldItalic */
@font-face {
  font-family : FiraSans;
  src         : url("fonts/FiraSans/FiraSans-SemiBoldItalic.ttf");
  font-weight : 600;
  font-style  : italic;
}

/* FiraSans-Bold*/
@font-face {
  font-family : FiraSans;
  src         : url("fonts/FiraSans/FiraSans-Bold.ttf");
  font-weight : 700;
  font-style  : normal;
}

/* FiraSans-BoldItalic */
@font-face {
  font-family : FiraSans;
  src         : url("fonts/FiraSans/FiraSans-BoldItalic.ttf");
  font-weight : 700;
  font-style  : italic;
}

/* FiraSans-ExtraBold */
@font-face {
  font-family : FiraSans;
  src         : url("fonts/FiraSans/FiraSans-ExtraBold.ttf");
  font-weight : 800;
  font-style  : normal;
}

/* FiraSans-ExtraBoldItalic */
@font-face {
  font-family : FiraSans;
  src         : url("fonts/FiraSans/FiraSans-ExtraBoldItalic.ttf");
  font-weight : 800;
  font-style  : italic;
}

/* FiraSans-Black */
@font-face {
  font-family : FiraSans;
  src         : url("fonts/FiraSans/FiraSans-Black.ttf");
  font-weight : 900;
  font-style  : normal;
}

/* FiraSans-BlackItalic */
@font-face {
  font-family : FiraSans;
  src         : url("fonts/FiraSans/FiraSans-BlackItalic.ttf");
  font-weight : 900;
  font-style  : italic;
}
